<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/styles/variables.css" />
    <link rel="stylesheet" href="../assets/styles/popup.css" />
    <link rel="stylesheet" href="../assets/styles/section-title.css" />
    <link rel="stylesheet" href="../assets/styles/section-content.css" />
    <link rel="stylesheet" href="../assets/styles/bool-switch.css" />
  </head>

  <body>
    <header>
      <div id="logo">
        <img class="logo-image" src="../assets/images/logo.png" />
        <span class="logo-name">YoutubeBlue</span>
      </div>

      <div id="version">
        <span class="version-index" id="version-name"></span>
        <a
          class="version-link"
          href="https://github.com/Mr-Fougere/YoutubeBlue"
        >
          <img class="github-icon" src="../assets/images/github.png" />
        </a>
      </div>
    </header>

    <p id="error-flash"></p>

    <div class="sections">
      <div class="section ads">
        <div class="section-title">
          <span class="section-name">Global Recap</span>
          <div class="section-divider"></div>
        </div>
        <div class="section-content">
          <div class="section-content-item">
            <img
              class="section-content-item-icon"
              src="../assets/images/skips.png"
            />
            <span class="section-content-item-value" id="total-skip-count"
              >0</span
            >
            <span class="section-content-item-name">Skipped Ads</span>
          </div>
          <div class="section-content-item">
            <img
              class="section-content-item-icon"
              src="../assets/images/time.png"
            />
            <span class="section-content-item-value" id="total-skip-time"
              >0h 0m 0s</span
            >
            <span class="section-content-item-name">Ads time</span>
          </div>
          <div class="section-content-item">
            <img
              class="section-content-item-icon"
              src="../assets/images/ads.png"
            />
            <span class="section-content-item-value" id="average-ads-time"
              >0s</span
            >
            <span class="section-content-item-name">Average ads time</span>
          </div>
        </div>
      </div>
      <div class="section ads">
        <div class="section-title">
          <span class="section-name">Month Recap</span>
          <div class="section-divider"></div>
        </div>
        <div class="section-content">
          <div class="section-content-item">
            <img
              class="section-content-item-icon"
              src="../assets/images/clickable-ads.png"
            />
            <span class="section-content-item-value" id="month-skippable-count"
              >0</span
            >
            <span class="section-content-item-name">Skippable Ads</span>
          </div>
          <div class="section-content-item">
            <img
              class="section-content-item-icon"
              src="../assets/images/waiting-ads.png"
            />
            <span
              class="section-content-item-value"
              id="month-unskippable-count"
              >0</span
            >
            <span class="section-content-item-name">Unskippable Ads</span>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section-title">
          <span class="section-name">Features</span>
          <div class="section-divider"></div>
        </div>
        <div class="section-content">
          <div class="section-content-action">
            <div class="bool-switch-block">
              <input
                class="bool-switch__checkbox"
                id="ads-skipper"
                type="checkbox"
                name="ads-skipper"
                data-feature = "adsSkipper"
              />
              <label class="bool-switch__label" for="ads-skipper"></label>
            </div>
            <label class="section-content-action-name" for="ads-skipper">
              Ads Skipper</label
            >
          </div>
          <div class="section-content-action">
            <div class="bool-switch-block">
              <input
                class="bool-switch__checkbox"
                id="resolution-blur"
                type="checkbox"
                name="resolution-blur"
                data-feature = "resolutionBlur"
              />
              <label class="bool-switch__label" for="resolution-blur"></label>
            </div>
            <label class="section-content-action-name" for="resolution-blur">
              Resolution Blur</label
            >
          </div>
        </div>
      </div>
    </div>

    <footer>
      <span class="refresh-warning"
        >Youtube tabs will be refresh on changes</span
      >
    </footer>
    <script src="../scripts/popup.js"></script>
  </body>
</html>
