button.ytp-ads-button[aria-enabled="true"] svg  g:last-child path {
    fill: white
}

button.ytp-ads-button[aria-enabled="true"] svg  g:first-child path {
    fill: #ffb1b1;
}

button.ytp-ads-button[aria-enabled="false"] svg  g:first-child path {
    fill: #FF0000;
}

#resolution-blur.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox{
    background-color: #0091ff !important;
}