html,
body {
  font-family: "Roboto", sans-serif;
  width: 200px;
  overflow: hidden;
}

img {
  width: 25px;
  height: 25px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

#logo,
#version {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo img,
#version img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

#logo .logo-image,
#version .version-index {
  margin-right: 3px;
}

#logo {
  font-weight: bold;
}

.logo-name-color{
  font-size: smaller;
  color: var(--item-text-color);
}

#version {
  opacity: 0.5;
}

a{
  text-decoration: none;
  color: inherit;
}

footer {
  text-align: center;
}

#error-flash,
footer .refresh-warning {
  color: red;
  opacity: 0.6;
  font-size: x-small;
}
