html,
body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 25px;
  height: 25px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

#logo,
#version {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo img,
#version img {
  width: 20px;
  height: 20px;
}

#logo .logo-image,
#version .version-index {
  margin-right: 3px;
}

.github-icon {
  opacity: 0.5;
}

#error-flash {
  color: red;
}

body:has(#ads-skipper:not(:checked)) .ads{
  display: none;
}
